body{
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: hsl(0, 0%, 30%);
}

nav{
  display: flex;
  justify-content:flex-end;
  background-color: hsl(0, 0%, 70%);
}

a{
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  color: hsl(0, 0%, 30%);
}

hgroup{
  color: hsl(0, 0%, 30%);
  text-align: center;
}

p{
  color: hsl(0, 0%, 30%);
  padding-left: 30px;
}

main{
  width: 900px;
  margin: auto;
  box-shadow: 0px 2px 5px 1px hsl(0, 0%, 95%);
  line-height: 1.5em;
}

article{
  padding-left: 20px;
}

header{
  padding-top: 10px;
  color: hsl(0, 0%, 30%);
}

figure{
  width: 650px;
  box-shadow: 0px 0px 5px 1px hsl(0, 0%, 50%);
  text-align: center;
}

img{
  width: 650px;
  object-fit: cover;
}

details{
  padding: 10px;
}

address{
  width: 300px;
  border-bottom: 1px solid hsl(0, 0%, 95%);
  padding: 10px;
}

footer{
  box-shadow: 1px 1px 1px hsl(0, 0%, 95%);
}